/* src/styles/Logout.css */

/* Logout icon styled to match nav buttons */
.logout-icon {
  text-decoration: none;
  background-color: rgb(241, 199, 199);
  color: #228B22;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
  cursor: pointer;
}

.logout-icon:hover {
  background-color: #fff;
  color: #145A32;
  border: 2px solid #145A32;
  transform: scale(1.05);
}

/* Modal Background */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  padding: 20px 30px;
  background-color: #663d21;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

/* Title Styling */
.modal-content h1 {
  font-size: 36px;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 25px;
  color: rgb(252, 228, 183);
}

/* Button Container */
.modal-buttons {
  display: flex;
  justify-content: space-around;
}

/* Button Styling */
.modal-content button {
  margin: 10px;
  width: 120px;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #462a02, #2b1901);
  color: rgb(252, 228, 183);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.modal-content button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid orangered;
}
